#landing {
  background-color: gray;
  text-align: center;
  display: flex;
}
#landing h1 {
  margin: 0;
  padding: 16px;
}
#left {
  background-image: url('../../assets/landing-background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#left h1 {
  color: white;
  font-size: 3rem;
}
#right {
  background-color: #06192f;
  width: 50vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#right h2 {
  color: white;
  font-size: 2.25rem;
}
#btn-row {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
.link {
  font-size: 1.75rem;
  text-decoration: none;
  color: white;
  background-color: #06192f;
  border: 1px solid #69adf8;
  border-radius: 50px;
  padding: 4px 8px;
  margin: 0 16px;
}
nav a {
  color: white;
}
@media (max-width: 800px) {
  #landing {
    flex-direction: column;
  }
  #left {
    width: 100vw;
    height: 46vh;
  }
  #right {
    width: 100vw;
    height: 46vh;
  }
}

@media (max-width: 450px) {
  #right h2 {
    font-size: 1.75rem;
  }
  .link {
    font-size: 1.25rem;
  }
}
