nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #12253a;
  height: 8vh;
  border-bottom: 3px solid #69adf8;
}
#left-nav {
  align-items: center;
  justify-content: center;
  display: flex;
}
#right-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item {
  margin: 8px 24px;
  text-decoration: none;
  color: white;
}
nav a {
  text-decoration: none;
  color: #000000;
}
#nav-post-btn {
  background-color: #69adf8;
  border-radius: 50px;
  padding: 6px 12px;
}
#search {
  color: white;
  background-color: #1d2f44;
  border: 1px solid #69adf8;
  border-radius: 50px;
  padding: 4px 8px;
  margin: 0 32px;
}
