#dashboard-stats {
  background-color: #162f4c;
  height: 10vh;
  width: 100vw;
  color: white;
  margin: 0px 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.stat-btn {
  width: 7vw;
  height: 7vh;
}
