#follow {
  background-color: #12253a;
  border: 1px solid #69adf8;
  width: 15vw;
  text-align: center;
  color: white;
  margin: 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#follow-title {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  #follow {
    width: 20vw;
  }
}
@media (max-width: 950px) {
  #follow {
    width: 35vw;
  }
}
