#dashboard-followers {
  background-color: #12253a;
  border: 1px solid #69adf8;
  height: 100vh;
  width: 35vw;
  color: white;
  margin: 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 950px) {
  #dashboard-followers {
    width: 55vw;
  }
}
