.post {
  margin: 8px 12px;
  border-bottom: 1px solid #69adf8;
}
.title {
  display: flex;
  width: auto;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
}
.name {
  font-size: 1rem;
  margin: 0 8px;
}
.handle {
  font-size: 0.75rem;
  color: #7f7575;
  margin: 0 8px;
}
.date {
  font-size: 0.65rem;
  color: #7f7575;
  margin: 0 8px;
}
.text {
  padding: 4px 16px;
  margin: 0;
}
.btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
.like {
  display: flex;
  margin: 0 8px;
}
.comment {
  display: flex;
  margin: 0 8px;
}
.count {
  margin: 0;
  padding: 0;
  color: #7f7575;
}
.like-btn {
  margin: 0;
  outline: none;
}
.comment-btn {
  margin: 0;
  outline: none;
}
button {
  background: none;
  border: none;
}
.post-profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
