#login {
  text-align: center;
  background-color: #06192f;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login h1 {
  font-size: 5rem;
  margin: 0;
  padding: 16px;
  color: white;
}
#form-container {
  margin: 75px 0;
}
.form-group {
  margin: 16px;
}
.is-invalid {
  border: 2px solid red;
}
.error {
  font-size: 11px;
}
::placeholder {
  color: white;
}
